.Progress-bar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background: var(--breadcrumbs-background);
    min-height: var(--breadcrumbs-height);
    height: 7rem;
    
   

    .bar {
        position: absolute;
        background-color: #c3c3c3;
        width: 100%;
        height: 5px;
        top: 16px;
        left: 0;
        transition: all 0.5s ease;
    }
    
    .bar-completed {
        @extend .bar;
        background-color: var(--primary-base-color);
    }

    .step-index {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color:#0a0a0a70;;
        background-color: #c3c3c3;
        font-size: 1.7rem;  
        transform:translateX(26px)
    }

    .step-index-active{
        background-color: var(--primary-base-color);
        color:white;
    }

    .step-name{
        font-size: 1.6rem;
        color: #0A0A0A;
        font-weight: bold;
    }

    .content-container{
       align-items: center;
       justify-content: center;
       display:flex;
       flex-direction: column;
    }

    .outer{
        background-color: var(--breadcrumbs-background);
        padding-right:50px;
        
    }
    
}